.wrap {
  background-color: #1e1e1e;
}
.breadcrumb-wrap {
  padding-left: 18px;
  padding-bottom: 8px;
}
.ant-breadcrumb a {
  color: rgba(255, 255, 255, 0.429) !important;
}
.ant-breadcrumb-link {
  color: rgba(255, 255, 255, 0.429) !important;
}
.ant-breadcrumb-separator {
  color: rgba(255, 255, 255, 0.429) !important;
}
